

.grasp_footer {
    width: 95px;
    height: 30px;
}

.grasp_home {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 82px;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.grasp_footer_centered {
    width: 110px;
    height: 40px;
    text-align: center;
}

.searchArea {
    background: #E8E3D3;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 50%;
}

.searchContent {
    padding-top: 30px;

}

.searchInput {
    border: none;
    background: #E8E3D3;
    padding: 15px;
    width: 600px;
    height: 25px;
}

.footer {
    height: 70px;
    background-color: #FFFFFF;
    position: fixed;
    /* Change from relative to fixed */
    bottom: 0;
    /* Position at the bottom */
    width: 100%;
    /* Take up the full width of the viewport */
    z-index: 1000;
    /* Ensure it appears above other content */
}