.upload_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#professor, #course_name {
  width: 30.25rem;
  height: 2.5625rem;
  margin-right: 9.12rem;
  margin-bottom: 2rem;
}

#course_code,#year_offered {
  width: 14.5rem;
  height: 2.5625rem;
}

#course_code {
  margin-right: 1.25rem;
  margin-bottom: 2rem;
}

#year_offered {
  margin-right: 9.12rem;
}

.upload_form label input {
  border-radius: 0.25rem;
  border: 1px solid var(--color-gray);
}

.upload_form label {
  display: flex;
  flex-direction: column;
}

.upload_form div {
  display: flex;
}

.quarters_offered {
  flex-direction: column;
}
/* File Upload Form */
.file_upload {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.file_upload label {
  margin-bottom: 1.5rem;
}

:is(input[type=text], input[type=number]) {
  padding-left: 0.5rem;
}

input::file-selector-button {
  background-color: var(--color-light-gold);
  border-radius: 1.25rem;
  border: 1px dashed var(--color-purple);
}

.file_upload a{
  font-family: Urbanist;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--color-purple);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.file_upload p {
  margin-bottom: 0.63rem;
}

.file_upload {
  margin-bottom: 2rem;
}

.container {
 flex-direction: column; 
}

.container p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

object[type="application/pdf"] {
  width: 100%;
  height: 1200px;
}

/* Submit Button */
.submit_button_container {
  display: flex;
  justify-content: center;
}

.submit_button {
  border-radius: 0.625rem;
  background: var(--Gold, #B7A57A);
  color: var(--color-white);
  width: 6.625rem;
  height: 2.5rem;
  margin-top: 1.69rem;
}